**/*.orig
**/*.gch
**/*.rej
**/*.elc
**/*.o
.config/dwm/dwm
.config/dmenu/dmenu
.config/blocks/dwmblocks
**/*~
**/*#
**/.zcompdump
/.config/dwm/.github/
/.config/emacs/eln-cache/
/.config/emacs/elpa/
/.config/nvim/plugin/packer_compiled.lua
/.config/tmux/plugins

/.config/emacs/*
^/.config/emacs/config.org
^/.config/emacs/init.el
^/.config/emacs/early-init.el
^/.config/emacs/autostart.sh
