*background: #303446
*foreground: #C6D0F5

! black
*color0: #51576D
*color8: #626880

! red
*color1: #E78284
*color9: #E78284

! green
*color2: #A6D189
*color10: #A6D189

! yellow
*color3: #E5C890
*color11: #E5C890

! blue
*color4: #8CAAEE
*color12: #8CAAEE

! magenta
*color5: #F4B8E4
*color13: #F4B8E4

! cyan
*color6: #81C8BE
*color14: #81C8BE

! white
*color7: #B5BFE2
*color15: #A5ADCE

! Cursor
Xcursor.theme: Catppuccin-Frappe-Blue-Cursors
Xcursor.size: 32

! fonts
URxvt.letterSpace: 	    		-1
URxvt.font:                 	xft:Iosevka Nerd Font Mono:regular:size=15
URxvt.imFont:               	xft:Iosevka Nerd Font Mono:regular:size=15
URxvt.italicFont:           	xft:Iosevka Nerd Font Mono:italic:size=15
URxvt.boldFont:             	xft:Iosevka Nerd Font Mono:bold:size=15
URxvt.boldItalicFont:     		xft:Iosevka Nerd Font Mono:regular:size=15
! run :.!fc-list | grep <font-name>

! perl extensions
! You can install extra perl extensions you should add them here
URxvt.perl-ext-common:  default,clipboard,url-select,keyboard-select,fullscreen,resize-font
!URxvt.perl-ext-common:  default,clipboard,url-select,keyboard-select,tabbed

! macros for resize-font - sudo pacman -S urxvt-resize-font-git
URxvt.resize-font.step:   1
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
URxvt.keysym.C-Down:      resize-font:smaller
URxvt.keysym.C-Up:        resize-font:bigger

! macros for clipboard and selection
URxvt.copyCommand:      xclip -i -selection clipboard
URxvt.pasteCommand:     xclip -o -selection clipboard
URxvt.keysym.M-c:       perl:clipboard:copy
URxvt.keysym.m-v:       perl:clipboard:paste
URxvt.keysym.M-C-v:     perl:clipboard:paste_escaped
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
URxvt.keysym.M-s:       perl:keyboard-select:search
URxvt.keysym.M-u:       perl:url-select:select_next

! fullscreen - sudo pacman -S urxvt-fullscreen
urxvt.keysym.F11:       perl:fullscreen:switch

! tabbed
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg:    15
URxvt.tabbed.tab-bg:    4
URxvt.buffered:         false

! clipboard
URxvt.keysym.Control-Shift-C: perl:clipboard:copy
URxvt.keysym.Control-Shift-V: perl:clipboard:paste

! general settings
URxvt.saveLines:        50000
URxvt.termName:         xterm-256color
URxvt.urgentOnBell:     false
URxvt.visualBell:       false
URxvt.iso14755:         false
URxvt.iso14755_52:      false
URxvt.meta8:            false
URxvt.metaSendsEscape:  true
URxvt.iconFile:  		/usr/share/icons/Sardi-Mono/scalable/apps/terminal.svg
URxvt.urlLauncher:      firefox
URxvt.underlineURLs:    true
URxvt.urlButton:        1

! appearance
URxvt.geometry: 		 400x400
URxvt.depth:             32
!URxvt.transparent:      true
URxvt.shading:           80
URxvt.underlineColor:    #4682B4
URxvt.highlightColor:    #666666
URxvt.throughColor:      #4682B4
URxvt.scrollBar:         false
URxvt.scrollTtyOutput:   false
URxvt.scrollWithBuffer:  true
URxvt.scrollTtyKeypress: true
URxvt.internalBorder:    0
URxvt.externalBorder:    0
URxvt.colorIT:      	 #4682B4
URxvt.colorBD:      	 #F9F9F9
URxvt.colorUL:      	 #87afd7

! termtype
UXTerm*termName: xterm-256color


UXTerm*cursorColor:        #c8c8c8
UXTerm*VT100.geometry:     100x30
UXTerm*font:               Monospace
UXTerm*faceSize:		   11
UXTerm*dynamicColors:      true
UXTerm*utf8:               2
UXTerm*eightBitInput:      true
UXTerm*saveLines:          50000
UXTerm*scrollKey:          true
UXTerm*scrollTtyOutput:    false
UXTerm*scrollBar:          false
UXTerm*rightScrollBar:     false
UXTerm*jumpScroll:         true
UXTerm*multiScroll:        true
UXTerm*toolBar:            false

UXTerm*boldMode: false
UXTerm*colorBDMode: true
UXTerm*colorBD: rgb:ff/ff/ff
