@import "frappe.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Iosevka Nerd Font";
    font-size: 15px;
	min-height: 0px;
    border-radius: 0px;
	margin: 1px;
	margin-bottom: 0px;
}

window#waybar {
    background-color: transparent;
    color: @surface0;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#workspaces,
#mpd {
    padding: 0px 11px;
    margin-left: 0px;
    margin-bottom: 0px;
	border-radius: 8px;
}

.modules-left {
	color: @text;
	padding-right: 8px;
	background-color: @base;
	margin-left: 1px;
	border-radius: 8px;
}

#workspaces {
	margin-left: 0px;
	padding-left: 0px;
}

#workspaces button {
    color: @subtext0;
	padding-left: 4px;
	padding-right: 4px;
    margin-bottom: 3px;
}

#workspaces button.focused {
    color: @blue;
}

#workspaces button.active {
    color: @text;
    margin-bottom: 0px;
    border-bottom: 3px solid @blue
}

#workspaces button.urgent {
    background-color: @red;
    color: @text;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    color: @blue;
}

#clock {
    border-bottom: 3px solid @overlay2;
    background-color: @overlay2;
}

#battery {
    background-color: @sapphire;
    border-bottom: 3px solid @sapphire;
}

#battery.charging, #battery.plugged {
    background-color: @green;
    /* background-color: transparent; */
    border-bottom: 3px solid @green;
}

#battery.warning:not(.charging) {
    border-bottom: 3px solid @peach;
    /* color: transparent; */
    background-color: @peach;
}

#battery.critical:not(.charging) {
    border-bottom: 3px solid @red;
    background-color: @red;
    /* background-color: transparent; */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background-color: @blue;
}

#memory {
    background-color: @lavender
}

#backlight {
    background-color: @yellow;
}

#network {
    background-color: @teal;
}

#network.disconnected {
    background-color: @red;
}

#pulseaudio {
    background-color: @mauve;
}

#temperature {
    background-color: @peach;
}

#temperature.critical {
    background-color: @red;
}

#tray {
    color: @pink;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    border-bottom: 3px solid @red;
}

#mpd {
    background-color: @maroon;
}
