@import "frappe.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Iosevka Nerd Font";
    font-size: 16px;
    border-radius: 0px;
}

window#waybar {
    background-color: @base;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0px 8px;
    margin-left: 10px;
    margin-bottom: 2px;
}

#workspaces button {
    color: @subtext0;
    margin-bottom: 3px;
}

#workspaces button.focused {
    color: @subtext1;
}

#workspaces button.active {
    color: @text;
    margin-bottom: 0px;
    border-bottom: 3px solid @red
}

#workspaces button.urgent {
    background-color: @red;
    color: @text;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    color: @text;
}

#clock {
    border-bottom: 3px solid @overlay2;
    color: @overlay2;
}

#battery {
    color: @sapphire;
    border-bottom: 3px solid @sapphire;
}

#battery.charging, #battery.plugged {
    color: @green;
    background-color: transparent;
    border-bottom: 3px solid @green;
}

#battery.warning:not(.charging) {
    border-bottom: 3px solid @peach;
    background-color: transparent;
    color: @peach;
}

#battery.critical:not(.charging) {
    border-bottom: 3px solid @red;
    color: @red;
    background-color: transparent;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    border-bottom: 3px solid @crust;
}

#cpu {
    border-bottom: 3px solid @blue;
    color: @blue;
}

#memory {
    border-bottom: 3px solid @lavender;
    color: @lavender
}

#backlight {
    border-bottom: 3px solid @yellow;
    color: @yellow;
}

#network {
    border-bottom: 3px solid @teal;
    color: @teal;
}

#network.disconnected {
    border-bottom: 3px solid @red;
    color: @red;
}

#pulseaudio {
    border-bottom: 3px solid @mauve;
    color: @mauve;
}

#temperature {
    border-bottom: 3px solid @peach;
    color: @peach;
}

#temperature.critical {
    border-bottom: 3px solid @red;
    color: @red;
}

#tray {
    border-bottom: 3px solid @pink;
    color: @pink;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    border-bottom: 3px solid @red;
}

#mpd {
    border-bottom: 3px solid @maroon;
    color: @text;
}
