* {
    font-size: 16px;
    border-radius: 0px;
	margin: 0px;
    padding: 0px;
    min-height: 0px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: @base;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    border: none;
    border-radius: 0;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#scratchpad,
#mpd,
#mpris,
#cava,
#custom-weather {
    background-color: @base;
    border: 1px solid;
    padding: 3px 8px;
    border-radius: 10px;
    margin: 0px 4px 6px 4px;
}

.modules-left {
	color: @text;
	background-color: @base;
    border-radius: 0 10px 0 0;
    padding: 0px;
    margin: 0px;
    padding-right: 10px;
}

#workspaces {
    padding-left: 0px;
}

#workspaces button {
    color: @surface2;
    padding-top: 2px;
    transition: 0s;
}

#workspaces button.active {
    color: @text;
    border-bottom: 2px solid @blue
}

#workspaces button.urgent {
    border-bottom: 1px solid @red;
    color: @text;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}

#workspaces button:not(.active):hover {
    border-bottom: 1px solid @magenta;
    transition: 0s;
    padding-top: 1px;
}

#clock, #power-profiles-daemon, #idle_inhibitor {
    background-color: @base;
    border-top: 1px solid @text;
    border-bottom: 1px solid @text;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 6px;
    background-color: @base;
    color: @text;
}

#clock {
    margin-left: 4px;
    padding-left: 8px;
    padding-right: 4px;
    border-radius: 10px 0px 0px 10px;
    border-left: 1px solid @text;
    border-top: 1px solid @text;
    border-bottom: 1px solid @text;
}

#idle_inhibitor {
    padding-left: 4px;
    padding-right: 4px;
}

#power-profiles-daemon {
    margin-right: 0px;
    padding-right: 8px;
    padding-left: 4px;
    border-radius: 0px 10px 10px 0px;
    border-right: 1px solid @text;
    border-top: 1px solid @text;
    border-bottom: 1px solid @text;
}

#battery {
    border-color: @green;
    color: @green;
}

#battery.critical:not(.charging) {
    border-color: @green;
    color: @green;
    animation-name: low-battery-blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes low-battery-blink {
    from {
        border-color: @green;
        color: @green;
    }
    to {
        border-color: @red;
        color: @red;
    }
}

#cpu {
    border-color: @blue;
    color: @blue;
}

#memory {
    border-color: @magenta;
    color: @magenta;
}

#backlight {
    border-color: @yellow;
    color: @yellow;
}

#network {
    border-color: @orange;
    color: @orange;
}

#network.disconnected {
    border-color: @orange;
    color: @orange;
}

#pulseaudio, #mpd, #cava, #mpris {
    border-color: @magenta;
    color: @magenta;
}

#temperature {
    border-color: @red;
    color: @red;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#tray {
    background-color: transparent;
    border-width: 0px;
}

#custom-weather {
    border-color: @blue;
    color: @blue;
}
