* {
    font-family: 'Iosevka Nerd Font';
    font-size: 16px;
    border-radius: 0px;
	margin: 0px;
    padding: 0px;
    min-height: 0px;
}

window#waybar {
    background-color: @base;
    /* background-color: rgba(0, 0, 0, 0); */
    color: @surface0;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    border: none;
    border-radius: 0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#workspaces,
#mpd,
#mpris,
#cava,
#power-profiles-daemon,
#custom-weather {
    padding: 1px 7px;
}

.modules-left {
	color: @text;
	background-color: @base;
    border-radius: 0 10px 0 0;
    padding: 0px;
    margin: 0px;
    padding-right: 10px;
}

#workspaces {
    padding-left: 0px;
}

#workspaces button {
    color: @surface2;
    padding-top: 2px;
    transition: 0s;
}

#workspaces button.active {
    color: @text;
    border-bottom: 2px solid @blue
}

#workspaces button.urgent {
    border-bottom: 1px solid @red;
    color: @text;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}

#workspaces button:not(.active):hover {
    border-bottom: 1px solid @magenta;
    transition: 0s;
    padding-top: 1px;
}

#clock, #idle_inhibitor {
    background-color: @base;
    color: @text;
}

#battery {
    background-color: @bright-blue;
}

#battery.charging, #battery.plugged {
    background-color: @green;
}

#battery.warning:not(.charging) {
    background-color: @orange;
}

#battery.critical:not(.charging) {
    background-color: @red;
    /* background-color: transparent; */
    animation-name: low-battery-blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes low-battery-blink {
    from {background-color: @red;}
    to {background-color: #FFFFFF;}
}

#power-profiles-daemon {
    background-color:  @green;
    padding-right: 12px;
}

#cpu {
    background-color: @blue;
}

#memory {
    background-color: @bright-yellow;
}

#backlight {
    background-color: @yellow;
}

#network {
    background-color: @cyan;
}

#network.disconnected {
    background-color: @red;
}

#pulseaudio, #mpd, #cava, #mpris {
    background-color: @magenta;
}

#temperature {
    background-color: @orange;
}

#temperature.critical {
    background-color: @red;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#custom-weather {
    background-color: @brown;
}
